@tailwind base;
@tailwind components;
@tailwind utilities;

.heading-link img  {
  visibility: hidden;
}

.heading-link:hover img {
  visibility: visible;
}

.docs-hidden {
  display: none;
}

.br-fade {
  position: relative;
}

.br-fade:before {
background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
opacity: 0.7;
  content:"";
  display:block;
  height:30px;
  position:absolute;
  width:100%;
  bottom: 0;
}
